.donut::after {
	content: "";
	position: absolute;
	inset: 2.4rem;
	border-radius: 50%;
	background: color-mix(in srgb, var(--color-inverted) 95%, transparent);
	border: 0.1rem solid color-mix(in srgb, var(--color-primary) 8%, transparent);
}
